body {
	font-family: "serif", arial;
	background-color: #F0E2B6;
	padding-left: 10px;
}
h2{
	margin-left: 5px;
}
h3{
	margin-left: 15px;
}
p{
	margin-left: 15px;
}
img{
	margin-left: 15px;
}
